@use '../../styles/partials/mixins' as *;

.task {
    background-color: #FFF;
    border-radius: 4px;
    padding: 1rem;
    font-family: 'Urbanist';
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        @include tablet {
            font-size: 16px;
        }
    }

    &__title {
        font-weight: 600;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: 'Open Sans';
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__detail-group {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__label {
        font-size: 10px;
        font-weight: 700;

        @include tablet {
            font-size: 11px;
        }
    }

    &__info {
        font-size: 12px;

        @include tablet {
            font-size: 13px;
        }
    }

    &__user-profile-container {
        border-radius: 100%;
        width: 36px;
        height: 36px;
        background-color: #e1e1e1;
    }

    &__budget {
        font-size: 22px;
        font-weight: 700;

        @include tablet {
            font-size: 24px;
        }
    }
}