@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.task-detail-container {
    background-color: #295FCC;
    min-height: calc(100vh - 117px);
    height: 100%;
    padding: 16px;

    @include tablet {
        padding: 24px 36px;
    }

    @include desktop {
        padding: 40px 12vw;
    }
}

.task-detail {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4px;
    width: 100%;
    font-family: 'Urbanist';
    color: #1c1c1c;

    @include tablet {
        padding: 40px;
    }



    &__heading {
        font-size: 28px;
        line-height: 36px;
        color: #0A0F26;
    }

    &__body {
        font-size: 14px;
        font-family: 'Open Sans';

        @include tablet {
            width: 100%;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        color: #999999;
        font-size: 13px;
        font-family: 'Urbanist';
        font-weight: 600;
    }

    &__content {
        line-height: 18px;
    }

    &__date {
        font-size: 12px;
        font-family: 'Urbanist';
        font-weight: 600;
        color: #999;
    }
}

.flex-row-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    margin-top: 2rem;
    border-radius: 4px;
    background-color: #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include tablet {
        width: 35%;
        margin: 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-family: 'Urbanist';
        text-align: center;
        font-weight: 600;
        color: #1c1c1c;

    }

    &__title {
        font-size: 14px;
        line-height: 22px;
    }

    &__budget {
        font-weight: 700;
        font-size: 26px;
    }

    &__button {
        width: 100%;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 18px;
        font-family: 'Urbanist';
        font-weight: 600;
        letter-spacing: .5px;
        cursor: pointer;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #295FCC;
        color: #ffffff;
    }

    &__amount {
        font-weight: 700;
        font-size: 24px;
    }
}

.flex-wrapper-tablet {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        justify-content: space-between;
    }
}





.form-offer {
    width: 100%;

    &__input {
        font-family: 'Open Sans';
        font-size: 16px;
        line-height: 22px;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid #000;
        outline: none;
        resize: none;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 600;

        &:focus {
            border: 1px solid #295FCC;
        }



        &::placeholder {
            font-family: 'Open Sans';
            font-size: 13px;
            line-height: 18px;
            text-align: center;

            @include tablet {
                font-size: 0.875rem;
                line-height: 1.375rem;
            }
        }
    }
}

// Comment form
.comment__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
        flex-direction: row;
        align-items: flex-end;
        gap: 1rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
    }

    &__label {
        color: #999999;
        font-size: 13px;
        font-family: "Urbanist";
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__input {
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 18px;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid #eee;
        outline: none;
        resize: none;




        @include tablet {


            height: 2.5rem;
            width: 100%;
            font-size: 14px;
            line-height: 20px;
        }

        &:focus {
            outline: 1px solid #295FCC;
        }



        &::placeholder {
            font-family: 'Open Sans';
            font-size: 13px;
            line-height: 18px;

            @include tablet {
                font-size: 0.875rem;
                line-height: 1.375rem;
            }
        }

    }
}

.comment__button {
    margin-top: 1rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 18px;
    font-family: 'Urbanist';
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #295FCC;
    color: #ffffff;


    @include tablet {
        width: 9.375rem;
        margin: 0;
        line-height: 24px;
    }
}