*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

.margin-header {
    margin-top: 70px;
}

.hidden {
    display: none !important;
}

.error_message {
    font-family: 'Open Sans';
    font-size: 13px;
    text-align: center;
    margin-bottom: .5rem;
    color: #EF4444;
}

.success_message {
    font-family: 'Open Sans';
    font-size: 13px;
    text-align: center;
    color: #22C55E;
}