// BREAKPOINTS
$tablet-breakpoint : 768px;
$desktop-breakpoint: 1280px;

$color-primary-dark : #323232;
$color-primary-blue : #0095FF;
$color-primary-gray : #AFAFAF;
$color-primary-light : #FFFFFF;

$color-secondary-dark : #000000;
$color-secondary-blue : #0065AD;
$color-secondary-gray : #E1E1E1;
$color-secondary-light : #FAFAFA;

$color-error: #D22D2D;