@font-face {
    font-family: 'Urbanist';
    src: url('../assets/fonts/Urbanist-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../assets/fonts/Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../assets/fonts/Urbanist-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}