@use '../../styles/partials/mixins' as *;

.header {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #295FCC;

    @include tablet {
        flex-direction: row;
        align-items: center;
        padding: 1rem 36px;
    }

    @include desktop {
        padding: 1rem 12vw;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 38px;
    }

    &__menu {
        position: relative;




        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: #ffffff;
            display: inline-block;
            transition: all .2s;

            @include tablet {
                display: none;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.6rem;
        }

        &::after {
            top: .6rem;
        }

        &--close {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(135deg);
            }

            &::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }
    }

}

.navbar {
    display: none;

    @include tablet {
        display: flex;
    }

    &__list {
        padding: 2rem 0 0;
        list-style: none;
        width: 100%;

        @include tablet {
            display: flex;
            padding: 0;
            width: auto;
            gap: 1.8rem;
            justify-content: center;
            align-items: center;
        }

        @include desktop {
            gap: 2rem;
        }
    }

    &__item {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;

        @include tablet {
            margin: 0;
            width: auto;
        }
    }

    &__link {
        font-family: 'Urbanist';
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: #ffffff;

        @include tablet {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &--close {
        display: flex;
        height: 100%;
        overflow: hidden;
    }
}