@use '../../styles/partials/mixins' as *;

.banner {
    height: 78vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-color: #295fcc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    position: relative;
    overflow: hidden;

    @include tablet {
        padding: 40px 36px;
    }

    @include desktop {
        padding: 40px 12vw;
    }

    &__text {
        z-index: 1;
    }

    &__heading {
        font-size: 32px;
        line-height: 40px;
        font-family: 'Urbanist';
        font-weight: 700;
        margin-bottom: 1rem;
        color: #ffffff;

        @include tablet {
            font-size: 68px;
            line-height: 44px;
            margin-bottom: 2rem;
        }

        &--highlight {
            color: #FDD943;
        }
    }


}

.vector {
    position: absolute;

    &__center {
        bottom: 0;
    }

    &__right {
        display: none;

        @include tablet {
            bottom: 0;
            right: 0;
            display: flex;
        }
    }

    &__left {
        display: none;

        @include tablet {
            bottom: 0;
            left: 0;
            display: flex;
        }
    }

    &__tree-dark {
        bottom: 0;
        right: 10vw;
    }

    &__tree-light {
        bottom: 0;
        left: 10vw;
    }

    &__ellipse {
        display: none;

        @include tablet {
            display: flex;
        }

        &--1 {
            top: 2rem;
            left: 10vw;
            width: 6px;

        }

        &--2 {
            top: 4rem;
            left: 50%;
            width: 5px;
        }

        &--3 {
            top: 1rem;
            right: 5vw;
            width: 7px;
        }

        &--4 {
            top: 10rem;
            right: 30%;
            width: 4px;
        }

        &--5 {
            top: 12rem;
            left: 20%;
            width: 7px;
        }

        &--6 {
            top: 20rem;
            right: 12%;
            width: 6px
        }
    }
}